<!-- <app-associate-header *ngIf="router.url !== '/resource'"></app-associate-header> -->
<app-header1></app-header1>
<div>


  <h2 style="font-family: Gill sans MT-12px; font-size: 22px;">


    <b style="
      padding-left: 500px;
      background-color: white;
      color: black;
      font-size:22px;
    ">Associate View</b>

  </h2>


  <!-- <p><b>Resourse Manger :&nbsp; </b><label>VASUDHA</label></p> -->
</div>

  <p>
    <b style="
        font-size: 18px;
        font-family: gill sans MT-12px;
        background-color: white; margin-left:2%">VM ID : </b><label style="margin-right: 10%;"> {{this.vamid}}</label>
    <b style="font-size: 18px;margin-left: 680px;">Associate Name : </b><label style="font-family: Gill sans MT-16px;">{{this.name}}</label>
  </p>


<!-- <h4>&nbsp;&nbsp;<b>*please follow the training list and update your program status</b></h4> -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="finaldata" matSort class="mat-elevation-z8" style="margin: 0% 0% 0% 0%">
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white; font-size: 15px; display: none;" class="text">
        <b >Id</b>
      </th>
      <td mat-cell *matCellDef="let element" style="display: none;" class="text">{{ element.id }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="HistoryId">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="color: white; font-size: 15px"
      >
        <b>HistoryId</b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.HistoryId }}</td>
    </ng-container> -->
    <ng-container matColumnDef="techTrack">
      <th mat-header-cell *matHeaderCellDef style="color: white; padding-left: 18px;font-size: 15px" class="text">
        <b>Tech Track</b>
      </th>
      <td mat-cell *matCellDef="let element" style="padding-left: 18px;" class="text">{{ element.techTrack }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px">
        <b>Category</b>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.programsTracker.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px">
        <b>Program Name</b>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.programsTracker.program }}
      </td>
    </ng-container> -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <strong>Category</strong>
      </th>
      <td mat-cell *matCellDef="let element"[matTooltip]="element.programsTracker.category"  [matTooltipPosition]="'above'" class="text">
        {{ element.programsTracker.category|slice:0:5 }}
      </td>
    </ng-container>
 <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
      <strong>Program Name</strong>
    </th>
    <td mat-cell *matCellDef="let element" [matTooltip]="element.programsTracker.program"   [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip-custom'" class="text">
      {{ element.programsTracker.program | slice:0:10 }}
    </td>
  </ng-container> 
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white; font-size: 15px" class="text">
        <b>Start Date</b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.startDate | date : "dd-MM-yy" }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <b>End Date</b>
      </th>
      <td mat-cell *matCellDef="let element" class="text">{{ element.endDate | date : "dd-MM-yy" }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="Delaydays">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="color: white; font-size: 15px"
      >
        <b> Delay Days</b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Delaydays }}</td>
    </ng-container> -->
    <ng-container matColumnDef="Delaydays">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <b> Delay Days</b> 
      </th>
      <td mat-cell *matCellDef="let element" class="text">{{ getdelayDays(element.endDate) }}</td>
    </ng-container>

    <ng-container matColumnDef="sme">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <b> SME Name</b>
      </th>
      <!-- .split('@')[0].replce('.',' ') -->
      <td mat-cell *matCellDef="let element" class="text">{{ element.sme.split('@')[0] }}</td>
    </ng-container>

    <ng-container matColumnDef="smeStatus">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <b> SME Status</b>
      </th>
      <td mat-cell *matCellDef="let element" class="text">{{ element.programStatus }}</td>
    </ng-container>

    <!--
 <ng-container matColumnDef="ProgramStatus" style="color: white; font-size: 15px;">
  <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px;"> <b>Program Status</b></th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="!submitService.isSubmitted">
      Open
    </span>
    <span *ngIf="submitService.isSubmitted">
      Submitted
    </span>
  </td>
</ng-container> -->

    <ng-container matColumnDef="upload" style="color: white; font-size: 15px">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <b>Upload</b>
      </th>
      <td mat-cell *matCellDef="let element" class="text">
        <div>
          <a type="button" (click)="EditCompany(element)" class="btn btn-primary my-btn"
            style="font-size: 10px;color:white;width: 75px;">ADD</a>
          <!-- <a mat-raised-button (click)="EditCompany(element.id)" color="primary">ADD</a> -->
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
        <strong>Comments</strong>
      </th>
      <td mat-cell *matCellDef="let element" class="text">
        <div>
          <textarea disabled style="width: 180px; font-size:18px;">{{element.smeComments}}</textarea>
          <!-- <a mat-raised-button color="primary"  [disabled]="false">Comment</a> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColums"
      style="background-color: teal; font-family: gill sans MT-12px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColums"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>