<!-- &nbsp;&nbsp;&nbsp;
<button mat-button [matMenuTriggerFor]="belowMenu">
  <fa-icon [icon]="faListUl" size="2x"></fa-icon>
</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button routerLink="company" mat-menu-item>New Assignment</button>
  <button routerLink="editassignment" mat-menu-item>Edit Assignment</button>
  <button routerLink="viewassignment" mat-menu-item>View Assignment</button> 
  <button routerLink="resource" mat-menu-item>Associate</button>
  <button routerLink="SME" mat-menu-item>SME</button>
</mat-menu> -->
