<div style="padding-top: 0px;">
  <h2 style="font-size: 22px;">
    <br>
    <b style="padding-left: 440px;">Resource Manager - New Assignment</b>
  </h2>

  <div class="mat-elevation-z8">
    <div>
      <a type="button" (click)="Openpopup('')" class="btn btn-primary my-btn"
        style="margin: 2% ;color:white;width: 125px;font-size:12px">Create New</a>
   
      <mat-form-field style="margin-left:30px;">
        <mat-label >
          <fa-icon [icon]="faSearch" style="color: black" size="1x" ></fa-icon> <a style="color: Black;">&nbsp;Search </a>
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Details" #input />
      </mat-form-field>
    </div>
   
    <table mat-table [dataSource]="finaldata" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="vamid">
        <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px; text-align: center;" class="text">
          <strong>VM ID</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text" >{{ element.vamid }}</td>
      </ng-container>

      <ng-container matColumnDef="resourceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-heade style="color: white; font-size: 15px;" class="text">
          <strong>Name</strong>
        </th>
        <td mat-cell *matCellDef="let element" style="font-family: Gill sans MT-12px;" class="text">{{ element.resourceName }}</td>
      </ng-container>

      <ng-container matColumnDef="email" hiddenColumnsText="Hidden">
        <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px" class="text">
          <strong>Email</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text">{{ element.email }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="techTrack">
            <th mat-header-cell *matHeaderCellDef> techTrack</th>
            <td mat-cell *matCellDef="let element">{{element.techTrack }}</td>
          </ng-container> -->

      <ng-container matColumnDef="techTrack">
        <th mat-header-cell *matHeaderCellDef class="text"style="color: white; font-size: 15px" class="text">
          <strong>Tech Track</strong>&nbsp;&nbsp;
        </th>
        <td mat-cell *matCellDef="let element" class="text">{{ element.techTrack }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <!-- <mat-form-field class="searchInputs">
              <input
                matInput
                [matDatepicker]="searchStartDate"
                [(ngModel)]="this.searchLeaveApplication.startDate"
                name="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="searchStartDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #searchStartDate></mat-datepicker>
            </mat-form-field> -->
        <th mat-header-cell *matHeaderCellDef class="text"style="color: white; font-size: 15px" class="text">
          <strong> Start Date</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text">
          {{ element.startDate | date : "dd-MM-yy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef class="text" style="color: white; font-size: 15px" class="text">
          <strong>End Date</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text">{{ element.endDate | date : "dd-MM-yy" }}</td>
      </ng-container>

      <ng-container matColumnDef="sme">
        <th mat-header-cell *matHeaderCellDef class="text" style="color: white; font-size: 15px">
          <strong>SME Name</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text">{{ element.sme.split('@')[0] }}</td>
      </ng-container>
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef class="text" style="color: white; font-size: 15px">
          <strong>PM/DM</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text">{{ element.manager.split('@')[0]}}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="programStatus">
            <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px;"><strong> Program Status</strong></th>
            <td mat-cell *matCellDef="let element">{{element.programStatus}}</td>
          </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px;" class="text">
          <strong>Action</strong>
        </th>
        <th mat-header-cell *matHeaderCellDef style="color: white; font-size: 15px;" >
        <td mat-cell *matCellDef="let element" class="text">
          <div>
            <a type="button" (click)="routing(element.id)" class="btn btn-primary my-btn"
              style="font-size: 10px;color:white;width: 75px;">Edit</a>
            |
            <!-- <a mat-raised-button (click)="routing(element.id)" color="primary">Edit</a> | -->
            <!-- <a routerLink ="editassignment"  mat-menu-item>Edit </a> -->
            <a (click)="RemoveCompany(element.id)" type="button" class="btn btn-primary my-btn"
              style="font-size: 10px;color:white;width: 75px;">Delete</a>
            <!-- <a mat-raised-button (click)="RemoveCompany(element.id)" color="accent">Delete</a> -->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColums" style="
          background-color: teal;
          font-family: gill sans MT-12px;
          font-size: 20px;
        "></tr>
      <tr mat-row *matRowDef="let row; columns: displayColums"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 10, 20]" style="font-family: gill sans mt;" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
