/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs//build/css/alertify.min.css';
@import '../node_modules/alertifyjs//build/css/themes/bootstrap.min.css';
@import '../node_modules/alertifyjs//build/css/themes/default.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    font-family: 'Gill Sans MT' !important;
}

.my-btn{
    background-color: darkslategray !important;
    font-size:15px !important;
}
.my-btn:active{
    background-color: darkslategray !important;
    font-size:15px !important;
}
th{
    font-size:17px !important;
}
td{
    font-size:16px !important;
}
label{
    font-size:15px !important;
}
header, content {
    margin: 0;
    padding: 0;
  }
  